$tree-width: 40px;
$cloud-width: 40px;
$earth-width: 240px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #8bd4fd;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        width: 200%;
        height: 120%;
        background-color: #6eb9e3;
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 100%;
        box-shadow: 0 0 40px 70px #6eb9e3;
    }
}

.container {
    width: 400px;
    height: 400px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    perspective-origin: top right;

    .earth {
        width: $earth-width;
        height: $earth-width * 5 / 6;
        position: relative;
        transform-style: preserve-3d;
        animation: earth-rotate 25s linear infinite;

        & > .side {
            position: absolute;
            width: 100%;
            height: 100%;

            &.top {
                transform: rotateX(90deg) translateZ($earth-width / 2);
                background-color: #80c35c;
                height: $earth-width;
              
               &:before{
                content: '';
                position: absolute;
                width: $earth-width/6;
                height: $earth-width/6;
                background: #5b9b3a;
                box-shadow: $earth-width/6 0 0 0 #80c35c, $earth-width/3 0 0 0 #5b9b3a,$earth-width/2 0 0 0 #80c35c,$earth-width*2/3 0 0 0 #6cb744,$earth-width*5/6 0 0 0 #35ee24,
                    0 $earth-width/6 0 0 transparent,$earth-width/6 $earth-width/6 0 0 green, $earth-width/3 $earth-width/6 0 0 transparent,$earth-width/2 $earth-width/6 0 0 green,$earth-width*2/3 $earth-width/6 0 0 transparent,$earth-width*5/6 $earth-width/6 0 0 green,
                    0 $earth-width/3 0 0 darkgreen,$earth-width/6 $earth-width/3 0 0 #398113, $earth-width/3 $earth-width/3 0 0 #35ee24,$earth-width/2 $earth-width/3 0 0 transparent,$earth-width*2/3 $earth-width/3 0 0 #398113,$earth-width*5/6 $earth-width/3 0 0 darkgreen,
                    0 $earth-width/2 0 0 darkolivegreen,$earth-width/6 $earth-width/2 0 0 transparent, $earth-width/3 $earth-width/2 0 0 darkolivegreen,$earth-width/2 $earth-width/2 0 0 transparent,$earth-width*2/3 $earth-width/2 0 0 transparent,$earth-width*5/6 $earth-width/2 0 0 green,
                    0 $earth-width*2/3 0 0 #35ee24,$earth-width/6 $earth-width*2/3 0 0 #398113, $earth-width/3 $earth-width*2/3 0 0 darkgreen,$earth-width/2 $earth-width*2/3 0 0 transparent,$earth-width*2/3 $earth-width*2/3 0 0 #398113,$earth-width*5/6 $earth-width*2/3 0 0 #398113,
                    0 $earth-width*5/6 0 0 green,$earth-width/6 $earth-width*5/6 0 0 #80c35c, $earth-width/3 $earth-width*5/6 0 0 darkolivegreen,$earth-width/2 $earth-width*5/6 0 0 transparent,$earth-width*2/3 $earth-width*5/6 0 0 darkolivegreen,$earth-width*5/6 $earth-width*5/6 0 0 #35ee24;
              }
             
            }

            &.front {
                transform: translateZ($earth-width / 2);
                background-color: #79553b;
                //border-left: 1px solid #6e4b32;
            }

            &.back {
                transform: translateZ(-$earth-width / 2);
                background-color: #79553b;
                //border-left: 1px solid #6e4b32;
            }

            &.left {
                transform: rotateY(90deg) translateZ($earth-width / 2);
                background-color: #79553b;
                //border-left: 1px solid #6e4b32;
            }

            &.right {
                transform: rotateY(-90deg) translateZ($earth-width / 2);
                background-color: #79553b;
                //border-left: 1px solid #6e4b32;
            }

            &.bottom {
                background-color: #c9fffe;
                transform: rotateX(-90deg) translateZ($earth-width / 3);
                box-shadow: 0 0 70px 30px #fff;
                height: $earth-width;
            }
          
          &.texture{
            &:before{
                content: '';
                position: absolute;
                width: $earth-width/6;
                height: $earth-width/6;
                background: #5b9b3a;
                box-shadow: $earth-width/6 0 0 0 darkolivegreen, $earth-width/3 0 0 0 #80c35c,$earth-width/2 0 0 0 #5b9b3a,$earth-width*2/3 0 0 0 #6cb744,$earth-width*5/6 0 0 0 #80c35c,
                  0 $earth-width/6 0 0 #593f28,$earth-width/6 $earth-width/6 0 0 transparent, $earth-width/3 $earth-width/6 0 0 #593f28,$earth-width/2 $earth-width/6 0 0 #b7865d,$earth-width*2/3 $earth-width/6 0 0 transparent,$earth-width*5/6 $earth-width/6 0 0 #b7865d,
                  0 $earth-width/3 0 0 #b7865d,$earth-width/6 $earth-width/3 0 0 #593f28, $earth-width/3 $earth-width/3 0 0 #593f28,$earth-width/2 $earth-width/3 0 0 transparent,$earth-width*2/3 $earth-width/3 0 0 #593f28,$earth-width*5/6 $earth-width/3 0 0 transparent;
              }
              &:after{
                content: '';
                position: absolute;
                width: $earth-width;
                height: $earth-width/3;
                background: #c9fffe;
                bottom: 0;
                box-shadow: inset 0 0 50px 15px #fff, 0 2px 10px 5px #fff;
              }
          }
        }

        .clouds {
            width: $cloud-width;
            height: $cloud-width;
            left: 50%;
            top: -80%;
            transform: translate(-50%, 0) translateZ(20px) translateX(20px);
            position: absolute;
            transform-style: preserve-3d;

            .side {
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 10px 0px white;

                &.top {
                    background-color: #bffbff;
                    transform: rotateX(90deg) translateZ($cloud-width / 2);
                    height: $cloud-width;
                }

                &.front {
                    background-color: #c9fffe;
                    transform: translateZ($cloud-width / 2);
                }

                &.back {
                    background-color: #c9fffe;
                    transform: translateZ(-$cloud-width / 2);
                }

                &.left {
                    background-color: #c9fffe;
                    transform: rotateY(90deg) translateZ($cloud-width / 2);
                }

                &.right {
                    background-color: #c9fffe;
                    transform: rotateY(-90deg) translateZ($cloud-width / 2);
                }

                &.bottom {
                    background-color: #bffbff;
                    transform: rotateX(-90deg) translateZ($cloud-width / 2);
                }
            }

            .cloud {
                width: $cloud-width;
                height: $cloud-width;
                left: 50%;
                top: 0;
                position: absolute;
                transform-style: preserve-3d;

                &:nth-child(1) {
                    transform: translate(-50%, 0) translateZ($cloud-width) translateX($cloud-width);
                }
                &:nth-child(2) {
                    transform: translate(-50%, 0) translateZ($cloud-width * 2) translateX($cloud-width * 2);
                }
                &:nth-child(3) {
                    transform: translate(-50%, 0) translateZ($cloud-width) translateX(-$cloud-width);
                }
                &:nth-child(4) {
                    transform: translate(-50%, 0) translateZ(0) translateX(-$cloud-width * 2);
                }
                &:nth-child(5) {
                    transform: translate(-50%, 0) translateZ($cloud-width) translateX($cloud-width);
                }
            }
        }

        .tree {
            width: $tree-width;
            height: $tree-width * 4;
            left: 50%;
            top: 0%;
            transform: translate(-50%, 0) translateZ(20px) translateX(20px);
            position: relative;
            transform-style: preserve-3d;

            & > .side {
                position: absolute;
                width: 100%;
                height: 100%;

                &.top {
                    background-color: #79553b;
                    transform: rotateX(90deg) translateZ($tree-width / 2);
                    height: $tree-width;
                }

                &.front {
                    background-color: #956d4a;
                    transform: translateZ($tree-width / 2);
                }

                &.back {
                    background-color: #79553b;
                    transform: translateZ(-$tree-width / 2);
                }

                &.left {
                    background-color: #593f28;
                    transform: rotateY(90deg) translateZ($tree-width / 2);
                }

                &.right {
                    background-color: #593f28;
                    transform: rotateY(-90deg) translateZ($tree-width / 2);
                }
            }

            .leaf {
                width: $tree-width;
                height: $tree-width;
                position: absolute;
                transform-style: preserve-3d;

                & > .side {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-shadow: inset 0 0 10px 0px #00972461;

                    &.top {
                        transform: rotateX(90deg) translateZ($tree-width / 2);
                        height: $tree-width;
                    }

                    &.front {
                        transform: translateZ($tree-width / 2);
                    }

                    &.back {
                        transform: translateZ(-$tree-width / 2);
                    }

                    &.left {
                        transform: rotateY(90deg) translateZ($tree-width / 2);
                    }

                    &.right {
                        transform: rotateY(-90deg) translateZ($tree-width / 2);
                    }

                    &.bottom {
                        transform: rotateX(-90deg) translateZ($tree-width / 2);
                    }
                }

                &:nth-child(1) {
                    left: 100%;
                    top: 50%;
                    transform: translateZ($tree-width);

                    & > * {
                        background-color: #19d600;
                    }
                }
                &:nth-child(2) {
                    left: 100%;
                    top: 50%;

                    & > * {
                        background-color: #88ba59;
                    }
                }
                &:nth-child(3) {
                    left: 100%;
                    top: 50%;
                    transform: translateZ(-$tree-width);

                    & > * {
                        background-color: #308a24;
                    }
                }
                &:nth-child(4) {
                    left: 0;
                    top: 50%;
                    transform: translateZ(-$tree-width);

                    & > * {
                        background-color: #88ba59;
                    }
                }
                &:nth-child(5) {
                    left: 0;
                    top: 50%;
                    transform: translateZ($tree-width);

                    & > * {
                        background-color: #73b549;
                    }
                }
                &:nth-child(6) {
                    left: -100%;
                    top: 50%;
                    transform: translateZ(-$tree-width);

                    & > * {
                        background-color: #42a535;
                    }
                }
                &:nth-child(7) {
                    left: -100%;
                    top: 50%;
                    transform: translateZ(0);

                    & > * {
                        background-color: #589f33;
                    }
                }
                &:nth-child(8) {
                    left: 100%;
                    top: 25%;
                    transform: translateZ(-$tree-width);

                    & > * {
                        background-color: #88ba59;
                    }
                }
                &:nth-child(9) {
                    left: 0;
                    top: 25%;
                    transform: translateZ(-$tree-width);

                    & > * {
                        background-color: #42a535;
                    }
                }
                &:nth-child(10) {
                    left: 0;
                    top: 25%;
                    transform: translateZ($tree-width);

                    & > * {
                        background-color: #98ce7b;
                    }
                }
                &:nth-child(11) {
                    left: -100%;
                    top: 25%;
                    transform: translateZ(-$tree-width);

                    & > * {
                        background-color: #73b549;
                    }
                }
                &:nth-child(12) {
                    left: -100%;
                    top: 25%;
                    transform: translateZ(0);

                    & > * {
                        background-color: #1fb93d;
                    }
                }
                &:nth-child(13) {
                    left: -100%;
                    top: 25%;
                    transform: translateZ($tree-width);

                    & > * {
                        background-color: #018f23;
                    }
                }
                &:nth-child(14) {
                    left: 100%;
                    top: 0;

                    & > * {
                        background-color: #42a535;
                    }
                }
                &:nth-child(15) {
                    left: 0;
                    top: 0;
                    transform: translateZ(-$tree-width);

                    & > * {
                        background-color: #98ce7b;
                    }
                }
                &:nth-child(16) {
                    left: -100%;
                    top: 0;
                    transform: translateZ($tree-width);

                    & > * {
                        background-color: #88ba59;
                    }
                }
                &:nth-child(17) {
                    left: 0;
                    top: -25%;
                    transform: translateZ(0);

                    & > * {
                        background-color: #5b9b3a;
                    }
                }
            }
        }
    }
}

@keyframes earth-rotate {
    to {
        transform: rotateY(360deg);
    }
}
