@font-face {
  font-family: berserker;
  src: url(./../fonts/Berserker-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  min-height: 100vh;
  font-family: "berserker" !important;
  background-color: #070a0e !important;
  background-image: url(./../img/gow-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 300px 300px rgba(0, 0, 0, 0.5647058824);
}

.splash {
  background-image: url(./../img/gow-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
  animation: splash 1.2s ease-in-out;
  opacity: 0;
}
.splash img {
  max-width: 80%;
}

.swiper {
  animation: swiper 2s ease-in-out;
  opacity: 1;
}
.swiper-slide {
  opacity: 0.3;
  transition: all 0.1s linear;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex !important;
  align-items: center !important;
  height: 100vh !important;
}
.swiper-slide img {
  width: 100%;
  transition: all 0.2s linear;
  transform: scale(0.5);
}
.swiper-slide span {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  white-space: nowrap;
  z-index: 4;
}
.swiper-slide-prev, .swiper-slide-next {
  opacity: 0.7;
  z-index: 2;
}
.swiper-slide-prev img, .swiper-slide-next img {
  transform: scale(1);
}
@media screen and (max-width: 1023px) {
  .swiper-slide-prev img, .swiper-slide-next img {
    transform: scale(0.75);
  }
}
.swiper-slide-active {
  font-size: 5em;
  opacity: 1;
  color: white;
  z-index: 3;
}
.swiper-slide-active::before {
  content: "";
  position: absolute;
  width: 125%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./../img/active-bg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.75;
  transition: all 0.2s linear;
  aspect-ratio: 13/18;
  border-radius: 300px;
  z-index: 2;
}
.swiper-slide-active::after {
  content: "";
  width: 1000%;
  height: 1000%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  display: none;
  transition: all 0.2s linear;
}
@media screen and (max-width: 1023px) {
  .swiper-slide-active {
    font-size: 3.6em;
  }
  .swiper-slide-active::before {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .swiper-slide-active {
    font-size: 2em;
  }
  .swiper-slide-active::before {
    width: 70%;
  }
}
.swiper-slide-active img {
  transform: scale(2);
  z-index: 3;
}
@media screen and (max-width: 767px) {
  .swiper-slide-active img {
    transform: scale(1);
  }
}
.swiper-slide-active span {
  display: block;
  z-index: 4;
}
@media screen and (min-width: 768px) {
  .swiper-slide-active:hover img {
    transform: scale(2.4);
  }
  .swiper-slide-active:hover::after {
    display: block;
  }
  .swiper-slide-active:hover:before {
    background-image: url(./../img/active-bg-hover.png);
    aspect-ratio: 1/2;
    top: 60%;
  }
}
.swiper-wrapper {
  min-height: 100vh;
  align-items: center;
}
.swiper-button {
  width: 70px !important;
  height: 70px !important;
  aspect-ratio: 1;
  top: 75% !important;
}
.swiper-button-prev {
  left: 20% !important;
}
.swiper-button-next {
  transform: rotate(180deg);
  right: 20% !important;
}
.swiper-button:after {
  content: "" !important;
  background-image: url(./../img/slider-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  font-family: none !important;
}
.swiper-button:hover:after {
  background-image: url(./../img/slider-arrow-hover.svg);
}

@keyframes splash {
  from {
    opacity: 1;
    z-index: 9;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes swiper {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */