@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: #212121;
}

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  background-color: #fff;
  padding: 0 8px;
}
header nav {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  header nav {
    flex-direction: column;
  }
}
header nav .logo {
  flex: 0 0 25%;
}
@media only screen and (max-width: 767px) {
  header nav .logo {
    padding: 5px;
  }
}
header nav .navbar-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 50%;
}
@media only screen and (max-width: 767px) {
  header nav .navbar-list {
    width: 100%;
  }
}
header nav .navbar-list-item {
  text-align: center;
  padding: 26px 0;
}
@media only screen and (max-width: 767px) {
  header nav .navbar-list-item {
    padding: 16px 0;
  }
}
header nav .navbar-list-item i {
  font-size: 24px;
  position: relative;
  padding: 10px;
  color: #666666;
}
@media only screen and (max-width: 767px) {
  header nav .navbar-list-item i {
    font-size: 16px;
  }
}
header nav .navbar-list-item i span {
  position: absolute;
  left: 50%;
  top: 0;
}
header nav .navbar-list-item i::after {
  height: 4px;
  width: 100%;
  background-color: #00acff;
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translate(-50%, 0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
@media only screen and (max-width: 767px) {
  header nav .navbar-list-item i::after {
    display: none !important;
  }
}
header nav .navbar-list-item.active i::after {
  content: "";
}
header nav .navbar-list-item:hover i {
  background-color: #eaeaea;
  border-radius: 8px;
}
header nav .navbar-list-item:hover i::after {
  content: "";
}
@media only screen and (min-width: 768px) {
  header nav .navbar-list-item:hover i::after {
    display: block !important;
  }
}
header nav .navbar-list:hover > .active i::after {
  display: none;
}
header nav .search-bar {
  flex: 0 0 25%;
}
@media only screen and (max-width: 767px) {
  header nav .search-bar {
    display: none;
  }
}
header nav .search-bar-content {
  width: 100%;
  position: relative;
  padding: 10px;
  background-color: #eaeaea;
  border-radius: 16px;
}
header nav .search-bar-content input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 20px;
}
header nav .search-bar-content i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

main {
  width: 100%;
  padding: 0 8px;
}
main .container {
  max-width: 1200px;
  padding-top: 24px;
  display: flex;
  margin: auto;
}
@media only screen and (max-width: 767px) {
  main .container {
    padding-top: 16px;
  }
}
main .container .sidebar {
  flex: 0 0 25%;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media only screen and (max-width: 991px) {
  main .container .sidebar {
    flex: 0 0 30%;
  }
  main .container .sidebar:last-of-type {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  main .container .sidebar {
    display: none;
  }
}
main .container .content {
  flex: 0 0 50%;
  padding: 0 16px;
}
@media only screen and (max-width: 991px) {
  main .container .content {
    flex: 0 0 70%;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  main .container .content {
    flex: 0 0 100%;
    padding: 0;
  }
}
main .container .content .section {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
main .container .section {
  width: 100%;
  display: block;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 16px;
}
@media only screen and (max-width: 767px) {
  main .container .section {
    margin-bottom: 10px;
  }
}
main .container .section-title {
  font-weight: 500;
  padding: 24px 24px 0;
}
@media only screen and (max-width: 991px) {
  main .container .section-title {
    padding: 14px 14px 0;
  }
}
main .container .section-list {
  width: 100%;
  padding: 24px;
}
@media only screen and (max-width: 991px) {
  main .container .section-list {
    padding: 14px;
  }
}
main .container .section-list .list-item {
  display: block;
  margin-bottom: 24px;
}
main .container .section-list .list-item > * {
  display: flex;
  align-items: center;
}
main .container .section-list .list-item > * > :last-child {
  margin-left: auto;
}
main .container .section-list .list-item i + .list-item-title {
  padding-left: 10px;
}
main .container .section-list .list-item-title {
  color: #666666;
}
main .container .section-list .list-item .user-avatar {
  border-radius: 100%;
}
main .container .section-list .list-item .user-avatar + .user-detail {
  padding-left: 10px;
}
main .container .section-list .list-item .user-name {
  font-weight: 500;
}
main .container .section-list .list-item .user-title {
  font-size: 12px;
  font-weight: 100;
}
main .container .section-list .list-item:last-child {
  margin-bottom: 0;
}
main .container .section-list .list-item-btn {
  padding: 8px 10px;
  background-color: #fff;
  color: #00acff;
  border: 1px solid #00acff;
  font-size: 12px;
  border-radius: 8px;
  cursor: pointer;
}
main .container .section-list .list-item-btn:hover {
  background-color: #00acff;
  color: #fff;
}
main .container .section-list .list-item .people {
  display: flex;
  flex-direction: row-reverse;
}
main .container .section-list .list-item .people img {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-left: -10px;
}
main .container .section-see-all {
  width: 100%;
  display: block;
  border-top: 1px solid #dfdfdf;
  text-align: center;
  color: #00acff;
  padding: 16px;
  font-size: 12px;
  cursor: pointer;
}
main .container .section.create-post {
  width: 100%;
}
main .container .section.create-post .post-text {
  position: relative;
  border-bottom: 1px solid #dfdfdf;
}
main .container .section.create-post .post-text span {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 20px 20px 45px;
  display: block;
  color: #666666;
}
main .container .section.create-post .post-text span:focus {
  color: #212121;
}
main .container .section.create-post .post-text span:empty::before {
  content: attr(data-placeholder);
  display: inline-block;
}
main .container .section.create-post .post-text span:empty:focus::before {
  content: "";
  display: inline-block;
}
main .container .section.create-post .post-text i {
  position: absolute;
  left: 20px;
  top: 20px;
}
main .container .section.create-post .post-type {
  display: flex;
  justify-content: space-evenly;
}
main .container .section.create-post .post-type a {
  padding: 20px 5px;
  flex: 1;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  main .container .section.create-post .post-type a {
    display: flex;
    flex-direction: column;
  }
}
main .container .section.create-post .post-type a > * {
  color: #666666;
}
main .container .section.create-post .post-type a:hover > * {
  color: #212121;
}
@media only screen and (min-width: 768px) {
  main .container .section.create-post .post-type a i {
    padding-right: 10px;
  }
}
main .container .section.post-item {
  box-shadow: 0 -16px 0 0 #e5e5e5;
}
@media only screen and (max-width: 767px) {
  main .container .section.post-item {
    box-shadow: 0 -10px 0 0 #e5e5e5;
  }
}
main .container .section.post-item .post-detail {
  padding: 24px;
}
@media only screen and (max-width: 767px) {
  main .container .section.post-item .post-detail {
    padding: 16px;
  }
}
main .container .section.post-item .post-detail a {
  display: flex;
  align-items: center;
}
main .container .section.post-item .post-detail .user-avatar {
  max-width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
}
main .container .section.post-item .post-detail .user-detail {
  padding-left: 10px;
}
main .container .section.post-item .post-detail .user-name {
  font-weight: 500;
}
main .container .section.post-item .post-detail .user-title {
  font-size: 12px;
  font-weight: 100;
}
main .container .section.post-item .post-content p {
  font-size: 14px;
  padding: 0 24px 20px;
}
@media only screen and (max-width: 767px) {
  main .container .section.post-item .post-content p {
    padding: 0 16px 10px;
  }
}
main .container .section.post-item .post-content img {
  width: 100%;
}
main .container .section.post-item .post-statu {
  display: flex;
  padding: 20px;
}
@media only screen and (max-width: 767px) {
  main .container .section.post-item .post-statu {
    padding: 10px;
  }
}
main .container .section.post-item .post-statu a {
  padding-right: 30px;
}
@media only screen and (max-width: 767px) {
  main .container .section.post-item .post-statu a {
    padding-right: 20px;
  }
}
main .container .section.post-item .post-statu a i {
  position: relative;
  font-size: 24px;
}
@media only screen and (max-width: 767px) {
  main .container .section.post-item .post-statu a i {
    font-size: 16px;
  }
}
main .container .section.post-item .post-statu a i span {
  position: absolute;
  left: 50%;
  top: 0;
}
main .container .section.post-item .post-statu a:last-child {
  margin-left: auto;
  padding-right: 0;
}

.notification-count {
  color: #fff;
  font-size: 12px;
  padding: 1px 4px;
  border-radius: 100px;
  border: 1px solid #fff;
  font-family: "Roboto", sans-serif !important;
}
@media only screen and (max-width: 767px) {
  .notification-count {
    font-size: 10px;
  }
}
.notification-count.bg-red {
  background-color: #ff1930;
}
.notification-count.bg-blue {
  background-color: #00acff;
}/*# sourceMappingURL=style.css.map */