* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background-color: #add495;
  align-items: center;
  justify-content: center;
}

.container {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  text-shadow: 0 6px #80b7a2, 0 8px #f898a4, 0 10px #ecdbc9;
  width: 100%;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &:before {
    width: 50px;
    height: 110px;
    background: #e6f7ff;
    border: 2px solid #000;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: calc(100% - 50px);
    z-index: 1;
  }

  &:after {
    width: 20px;
    height: 20px;
    background: #6ffdfd;
    border: 2px solid #000;
    border-radius: 100%;
    bottom: 10px;
    z-index: 2;
  }

  .counter {
    width: 80%;
    text-align: center;
    margin: auto;
    transition: all 1.5s cubic-bezier(0, 0, 0.5, 0.75);
    transform-origin: bottom;

    &-number {
      display: block;
      padding-bottom: 15px;
    }

    &-stand {
      width: 100%;
      max-width: 700px;
      height: 40px;
      margin: auto;
      border-radius: 100px;
      border: 2px solid #000;
      background: #6b9cff;
    }
  }
}
